<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vitalsense">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vs"
        android:label="VitalSense"
        android:roundIcon="@drawable/logo_vs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".MeasurementActivity" android:exported="false" />
        <activity android:name=".ResultActivity" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
    </application>

</manifest>
